*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgb(138, 56, 173), rgb(231, 135, 223));
    min-height: 100vh;
    overflow-x: hidden;
}

.anim-body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgb(138, 56, 173), rgb(231, 135, 223));
}

.fog-anim {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: url('img/fog.png') repeat-x;
    background-size: 200% auto;
    background-position: 0 bottom;
    animation: fogAnim 60s;
    -webkit-animation: fogAnim 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fogAnim {
    0%{ background-position: -200% bottom }
    100%{ background-position: 0% bottom}
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: flex-end;
    z-index: 100;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    background: #c0c0c0;
    padding: 6px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #c0c0c0;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
    position:absolute; 
    font-size: 5em;
    color: #c0c0c0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}


.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}


.sec {
    position: relative;
    background: #359381;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #c0c0c0;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #c0c0c0;
    font-weight: 300;
}
