*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #913191, #cc66cc);
    min-height: 100vh;
    overflow-x: hidden;
}

.anim-body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, #913191, #cc66cc);
}

.fog-anim {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: url('img/fog.png') repeat-x;
    background-size: 200% auto;
    background-position: 0 bottom;
    animation: fogAnim 60s;
    -webkit-animation: fogAnim 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fogAnim {
    0%{ background-position: -200% bottom }
    100%{ background-position: 0% bottom}
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: flex-end;
    z-index: 100;
}

.navigation a {
    text-decoration: none;
    color: #3c6585;
    background: #c0c0c0;
    padding: 6px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #3c6585;
    color: #c0c0c0;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
    position:absolute; 
    font-size: 5em;
    color: #c0c0c0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}


.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

#project-section{
    background-image: linear-gradient(to bottom, #7f357f, #333366);
}

section .animate {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.sec-1 .animate {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.sec-1.show-animate .animate {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.sec-2 .animate {
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}

.sec-2.show-animate .animate {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.sec-3 .animate {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
}

.sec-3.show-animate .animate {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

h2 {
    font-size: 90px;
    color: #c0c0c0;
}

p {
    font-size: 35px;
    color: #4da720;
    font-weight: 600;
}
